
@font-face{
	font-family: "Montserrat";
	src: url("../font/Montserrat/Montserrat-Medium.ttf");
}
body{
	margin: 0;
	padding: 0;
	font-family: Montserrat;
}
.header-div{
	display: flex;
	margin: 0 auto;
	width: 1300px;
	height: 100px;
}

.logo{
	margin-top: 26px;
	margin-right: 83px;
}
.logo-img{
	position: relative;
	width: 200px;
}


.header-menu{
	display: flex;
}
.menu-li{
	margin-right: 25px;
	display: flex;
	align-items: center;
}
.menu-li:last-child{
	margin-right: 74px;
}
.header-ul{
	list-style: none;
	display: flex;
	padding: 0px 0px;
}
.header-a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 14px;
}

.header-ul-geo{
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0px 0px;
	margin-right: 42px;
	justify-content: center;
}
.geo-1{
	font-size: 18px;
}
.geo-2{
	font-size: 14px;
	font-weight: normal;
}
.header-ul-geo-li{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.header-ul-number{
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0px 0px;
	justify-content: center;
}
.number-li{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.number-1{
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	color: black;
}
.number-1:hover{
	color: #E8702D;
}
.number-2{
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: black;
}
.number-2:hover{
	color: #E8702D;
}

.header-ul-social{
	display: flex;
	list-style: none;
	padding: 0px 0px;
}
.social-li{
	display: flex;
	align-items: center;
}
.social-li:first-child{
	margin-right: 10px;
}
.social-li:last-child{
	margin-right: 35px;
}


.main{
	background-image: url("../img/Bg.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	background-size: cover;
}
.main-1{
	display: flex;
	flex-direction: column;
	width: 1300px;
	margin: 0 auto;
}
.text-1{
	margin-top: 133px;
	color: white;
	font-size: 18px;
}
.text-2{
	color: white;
	font-size: 60px;
}
.text-3{
	color: white;
	font-size: 32px;
}
.main-button{
	margin-top: 31px;
	background-color: #E8702D;
	text-decoration: none;
	width: 252px;
	padding: 14px 15px 14px 16px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	transition: .1s;
}
.main-button:hover{
	background-color: #FFFFFF;
	color: #E8702D;
	outline: 2px #E8702D solid;
}


.main-2{
	margin-top: 107px;
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
}
.main-2-ul{
	list-style: none;
	display: flex;
	width: 1300px;
	margin: 46px auto 46px auto;
	padding-left: 0px;
}
.main-2-li{
	color: white;
	margin-right: 148px;
	border-left: 4px #E8702D solid;
	padding-left: 10px;
	white-space: nowrap;
}


.screen2{
	background-color: #F2F2F2;
}
.screen2-in1{
	padding-top: 121px;
	text-align: center;
	width: 1300px;
	margin: 0 auto;
}
.screen2-h2{
	font-size: 54px;
	color: #1D0C03;
}
.screen2-h4{
	font-size: 24px;
	color: #361504;
}

.screen2-manipulators{
	width: 1300px;
	margin: 20px auto 0px auto;
}
.screen2-list{
	display: flex;
	
	flex-wrap:wrap;
	list-style: none;
	padding-left: 0px;
	margin-right: -10px;
	margin-left: -10px;
}
.screen2-list-li{
	display: flex;
	flex-direction: column;
	width: 412px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
.screen2-list-img{
	width: 412px;
	height: 220px;
}
.screen2-list-descr{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.screen2-list-descr-1{
	padding-top: 20px;
	font-size: 16px;
	width: 412px;
	text-align: center;
}
.screen2-list-descr-2{
	padding-top: 4px;
	font-size: 18px;
}
.screen2-list-a{
	display: flex;
	text-decoration: none;
	color: white;
	background-color: #EF7A39;
	padding: 10px 52px 10px 51px;
	margin-top: 20px;
	margin-bottom: 30px;
	width: 180px;
	height: 44px;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: 700;
	transition: .1s;
}
.screen2-list-a:hover{
	background-color: #FFFFFF;
	color: #E8702D;
	outline: 2px #E8702D solid;
	font-size: 24px;
}

.screen2-in2{
	width: 1300px;
	margin: 40px auto 0px auto;
	text-align: center;
}
.screen2-div-a{
	display: flex;
	justify-content: center;
}
.screen2-a{
	margin-top: 24px;
	padding: 14px 15px 14px 16px;
	border: 1px #E8702D solid;
	text-decoration: none;
	color: #E8702D;
	transition: .1s;
}
.screen2-a:hover{
	background-color: #E8702D;
	color: #FFFFFF;
	outline: 2px #E8702D solid;
}


.screen3{
	width: 100%;
	background-color: #BF5E28;
	margin-top: 101px;
}
.screen3-in1{
	display: flex;
	width: 1300px;
	margin: 0 auto;
	position: relative;
}
.screen3-descr{
	display: flex;
	flex-direction: column;
	width: 468px;
	padding-top: 50px;
}
.screen3-span-1{
	font-size: 32px;
	color: white;
}
.screen3-p-1{
	font-size: 16px;
	color: white;
}
.screen3-img{
	margin-left: 33px;
	top: -100px;
	right: -50px;
	position: absolute;
}
.screen3-div-inputs{
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}
.screen3-input-1{
	width: 153px;
	height: 24px;
	background: rgba( 0,0,0,0);
	font-size: 16px;
	color: #DBDBDB, 100 %;
	border: 1px white solid;
	padding: 14px 138px 14px 14px;
}
.screen3-input-2{
	width: 117px;
	height: 24px;
	margin-top: 10px;
	background: rgba( 0,0,0,0);
	font-size: 16px;
	color: white;
	border: 1px white solid;
	padding: 14px 174px 14px 14px;

}
.screen3-a{
	display: flex;
	width: 307px;
	height: 52px;
	background-color: white;
	font-size: 16px;
	font-weight: 700;
	color: #BF5E28;
	align-items: center;
	justify-content: center;
	margin-top: 23px;
	text-decoration: none;
	transition: .1s;
}
.screen3-a:hover{
	background-color: #E8702D;
	color: #FFFFFF;
	outline: 2px #E8702D solid;
}



.screen4{
	width: 1300px;
	margin: 0 auto;
	padding-bottom: 60px;
}
.screen4-h2{
	padding-top: 100px;
	font-size: 54px;
	text-align: center;
	margin: 0px 0px 0px 0px;
}
.screen4-h4{
	padding-top: 10px;
	font-size: 24px;
	text-align: center;
	margin: 0px 0px 0px 0px;
}
.screen4-ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0px;
	margin-top: 38px;
	margin-left: -10px;
	margin-right: -30px;
	margin-bottom: 0px;
}
.screen4-li{
	width: 580px;
	background-color: #FFFFFF;
	border-left: 6px solid #E8702D;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin-bottom: 40px;
	margin-right: 20px;
	margin-left: 10px;
	padding-top: 30px;
	padding-left: 36px;
}
.screen4-li-span{
	font-size: 24px;
	font-weight: 600px;
	color: #361504;
}
.screen4-li-ul-in{
	list-style-type:"– ";
	margin-top: 10px;
	padding-left: 15px;
	margin-bottom: 36px;
}
.screen4-li-ul-in-li{
	color: #361504;
	padding-bottom: 5px;
	font-size: 16px;
}




.screen5{
	width:100%;
	background-color: #FFFFFF;
}
.screen5-in{
	width: 1300px;
	margin: 0 auto;
	padding-top: 100px;
	text-align: center;
}
.screen5-span{
	font-size: 54px;
}
.screen5-plan{
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 50px;
	position: relative;
}
.screen5-plan-div{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 0 25%;
}
.screen5-plan-div-circle{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: relative;
}
.screen5-plan-div-circle::before {
	content:"";
	position: absolute;
	background-color: #DBDBDB;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 2px;
	z-index: 1;
}
.screen5-plan-div:last-child .screen5-plan-div-circle:before {
	content:"";
	position: absolute;
	top: 50%;
	width: 0px;
	height: 0px;
	z-index: 1;
}
.screen5-circle{
	display: flex;
	width: 60px;
	height: 60px;
	background-color: #E8702D;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	z-index: 2;
}
.screen5-circle-span{
	font-size: 32px;
}
.screen5-plan-div-span{
	padding-top: 20px;
	font-size: 18px;
}





.screen6{
	background-color: #F2F2F2;
}
.screen6-in{
	display: flex;
	flex-direction: column;
	width: 1300px;
	margin: 0px auto 100px auto;
	padding-top: 82px;
}
.screen6-span1{
	font-size: 32px;
	margin-bottom: 10px;
}
.screen6-span2{
	font-size: 54px;
	font-weight: 700;
}
.screen6-in-div-var-1{
	width: 1300px;
	margin-top: 40px;
	margin-bottom: 100px;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
}

.block-none{
	display: none;
}

.screen6-in-div-span{
	font-size: 24px;
}
.screen6-plan{
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	margin-left: 466px;
	margin-right: 466px;
}
.screen6-plan-div{
	display: flex;
	flex: 0 0 25%;
	position: relative;
	z-index: 2;
}
.screen6-plan-div:last-child{
	display: flex;
	flex: 0 0 0;
}
.screen6-plan-div:first-child::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	background-color: #E8702D;
	height: 2px;
	width: 100%;
	z-index: 1;
}
.screen6-plan-div:not(:first-child)::after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	background-color: #DBDBDB;
	height: 2px;
	width: 100%;
	z-index: 1;
}

.screen6-plan-div:first-child .screen6-circle{
	display: flex;
	width: 12px;
	height: 12px;
	background-color: #E8702D;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.screen6-circle {
	display: flex;
	width: 12px;
	height: 12px;
	background-color: #DBDBDB;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	z-index: 2;
}
.screen6-circle-in{
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: white;
}
.screen6-plan-count{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 24px;
}
.screen6-plan-count-span-1{
	font-size: 32px;
	color: #E8702D;
	margin-right: 5px;
}
.screen6-plan-count-span-2{
	font-size: 20px;
	color: #DBDBDB;
}
.screen6-in-div-span{
	margin-top: 38px;
	margin-bottom: 37px;
	font-weight: 600;
	text-align: center;
	font-size: 24px;
}
.screen6-in-div-ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0px;
	margin-left: 163px;
}
.screen6-in-div-ul-li{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 35px;
}
.radiobutton{
	display: flex;
	padding-top: 10px;
}
.radiobutton-input{
	margin-right: 12px;
}
.radiobutton-label{
	font-size: 16px;
	font-weight: 600;
}
.screen6-div-a{
	display: flex;
	justify-content: center;
}
.screen6-in-div-a{

	padding: 14px 15px 14px 16px;
	background-color: #E8702D;
	margin-top: 39px;
	margin-bottom: 60px;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 16px;
}
.screen6-in-div-a:hover{
	background-color: #FFFFFF;
	color: #E8702D;
	outline: 2px #E8702D solid;
}


.screen7{
	background-color: #FFFFFF;
}
.screen7-in{
	display: flex;
	flex-direction: column;
	margin: 0px auto 103px auto;
	width: 1300px;
}
.screen7-in-span-head{
	font-weight: 700;
	font-size: 54px;
	text-align: center;
}
.screen7-in-div{
	display: flex;
	margin-top: 40px;

}
.screen7-in-div-1{
	margin-right: 20px;
	width: 50%;
}
.screen7-in-div-2{
	width: 50%;
}
.screen7-in-div-2-p{
	margin-top: 0px;
}
.screen7-in-span-1{
	font-weight: 600;
	font-size: 24px;
}
.screen7-in-div-ul-1{
	list-style-type: decimal;
}


.screen8{
	background-image: url("../img/Rectangle.svg");
	width: 100%;
	background-size: cover;
}
.screen8-in{
	width: 1300px;
	margin: 0 auto;
	padding-top: 102px;
	padding-bottom: 101px;
}
.screen8-feedback{
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	width: 468px;
	padding-left: 40px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.screen8-span-1{
	font-size: 32px;
	font-weight: 700;
	margin-top: 40px;
}
.screen8-span-2{
	font-size: 24px;
	font-weight: 500;
	margin-top: 21px;
}
.screen8-span-3{
	font-size: 18px;
	font-weight: 500;
	margin-top: 9px;
}
.screen8-div-a{
	width: 252px;
	margin-top: 30px;
	margin-bottom: 50px;
	padding: 14px 15px 14px 16px;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	background-color: #E8702D;
	font-size: 16px;
	font-weight: 700;
	transition: .1s;
}
.screen8-div-a:hover{
	background-color: #FFFFFF;
	color: #E8702D;
	outline: 2px #E8702D solid;
}



.footer{
	width: 100%;
	background-color: #DBDBDB;
}
.footer-in{
	width: 1300px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding-top: 41px;
}
.footer-div{
	display: flex;
	justify-content: space-between;
}
.footer-div-1{
	display: flex;
	flex-direction: column;

}
.footer-div-1-span{
	margin-top: 11px;
	color: #361504;
	font-weight: 600;
	font-size: 16px;
}
.footer-div-2{
	display: flex;
}
.footer-div-2-ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0px;
	margin-top: 0px;
}
.footer-div-2-ul-li{
	font-weight: 600;
	font-size: 14px;
	width: 50%;
}
.footer-div-2-a{
	text-decoration: none;
	color: black;
}
.footer-div-3{
	display: flex;
	flex-direction: column;
}
.footer-div-3-span-1{
	font-size: 18px;
	font-weight: 600;
	text-align: right;
}
.footer-div-3-span-2{
	margin-top: 16px;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 600;
	text-align: right;
}
.footer-div-3-toTOP{
	text-decoration: none;
	color: #E8702D;
	text-align: right;
}
.footer-div-4{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}
.footer-div-4-span-1{
	display: inline-block;
	position: relative;
	font-weight: 500;
	font-size: 12px;
	color: #E8702D;
	text-decoration: none;
}
.footer-div-4-span-1::after{
	content: "";
	display: block;
	position: absolute;
	height: 2px;
	width: 0%;
	background-color: #E8702D;
	transition: .3s;
	
}
.footer-div-4-span-1:hover:after{
	width: 100%;
}

.footer-div-4-span-2{
	display: inline-block;
	position: relative;
	font-weight: 500;
	font-size: 12px;
	color: #E8702D;
	text-decoration: none;
}
.footer-div-4-span-2::after{
	display: block;
	content: "";
	position: absolute;
	height: 2px;
	width: 0%;
	background-color: #E8702D;
	transition: .3s;
}
.footer-div-4-span-2:hover:after{
	width: 100%;
}